// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$card-overflow-wrap: normal !default;
$card-title-word-break: normal !default;
// $font-size-root: 20px;
// $body-font-family: 'Jost';

$headings: (
  "h1": (
    "font-family": "Jost"
  ),
  "h2": (
    "font-family": "Jost"
  ),
  "h3": (
    "font-family": "Jost"
  ),
  "h4": (
    "font-family": "Jost"
  )
);
